<!-- dynamic-input-blocks.component.html -->
<!doctype html>

<html lang="en"> 

 <head> 

  <meta charset="UTF-8"> 

  <title>CodePen - Animated Login Form using Html &amp; CSS Only</title> 

  <link rel="stylesheet" href="app-main.component.css"> 

 </head> 
 <body>
<!--img [src]="Imagepath" alt="Series and Anime Image" class="img">
<div class="content-container">
 
    <figcaption>More content...</figcaption>
  </div--> 
<div class="button-container">
  <button class="large-button" (click)="addvalue()">ADD THE APPS</button>
<div *ngFor="let value of values; let i = index" class="inputbox"> 
  <br>
  <input type="text" [(ngModel)]="value.value" #name="ngModel" name="value{{i}}">
  <button (click)="removevalue(i)">Remove</button>
</div><br><br><label for="number1" style="color: aliceblue;">Enter the time (in minutes): </label><br>
<input type="number" id="number1" [(ngModel)]="number1"><br>

<button (click)="initializeCalculatedArray()"> Calculate </button>

</div>

<br><br>



<table>
  <thead>
    <tr>
      <th><h1>Priorities</h1></th>
      <th><h1>Name of the Apps</h1></th>
      <th><h1>Time to use</h1></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of values; let i = index">
      <td class="numberc">{{ i + 1 }}</td>
      <td class="namec">{{ value.value }}</td>
      <td class="points">{{ calculatedArray[i] }}</td>
    </tr>
  </tbody>
</table>
<br><br>



</body>
  </html>
